body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #bdbdbd;

}
header{
    background-color: white;
    padding: 10px;
}
header h1{
    width: 600px;
    margin: 0px;
    margin: auto;
}
article{
    
    width: 600px;
    margin: auto;
    margin-top: 50px;
    
}

.article_header{
   display: flex;
justify-content: space-between;
align-items: center;
padding-inline: 10px;

}

.article_header title{
    font-size: 1.2rem;
    font-weight: bold;
    
    
}
.article_header date{
    font-size: 1rem;
    color: gray;
    margin: 0;
    display: flex;
}
.article_footer{
    padding: 10px;
    margin: 0px;
    color: black;

}
.article_footer p{
    padding: 0;
    margin: 0;
    color: black;
   
}

div{
    background-color: white;
}
p{
    color: black;
padding: 8px;

}

span{
    color: gray;
}